@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'poppins', sans-serif;
  background-image: url(./Images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
  max-width: 375px;
  height: 588px;
  margin-left: 24px;
  margin-right: 24px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #6070ff;
  font-size: 18px;
}

.headline {
  display: flex;
  color: #172b4d;
  font-size: 40px;
}

.headlinecont {
  display: flex;
  color: #344563;
  font-size: 16px;
}

.footer {
  display: flex;
  color: #7f8cff;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

.socialicons {
  display: flex;
  align-items: center;
  gap: 19px;
}
